# 비전공자반

## 김석준

Exercise 61

In [5]:
import numpy as np

In [7]:
number_list = []

while True :
    number = int(input())
    if number is 0:
        print('error')
        break
    number_list.append(number)
np.mean(number_list)

1
2
3
1
2
2
0
error

1.8333333333333333

Exercise 63

In [18]:
for celsius in range(1, 101):
    farenheit = celsius *1.8 + 32
    print(celsius, '\t\t',format(farenheit, '.1f'))

1 		 33.8
2 		 35.6
3 		 37.4
4 		 39.2
5 		 41.0
6 		 42.8
7 		 44.6
8 		 46.4
9 		 48.2
10 		 50.0
11 		 51.8
12 		 53.6
13 		 55.4
14 		 57.2
15 		 59.0
16 		 60.8
17 		 62.6
18 		 64.4
19 		 66.2
20 		 68.0
21 		 69.8
22 		 71.6
23 		 73.4
24 		 75.2
25 		 77.0
26 		 78.8
27 		 80.6
28 		 82.4
29 		 84.2
30 		 86.0
31 		 87.8
32 		 89.6
33 		 91.4
34 		 93.2
35 		 95.0
36 		 96.8
37 		 98.6
38 		 100.4
39 		 102.2
40 		 104.0
41 		 105.8
42 		 107.6
43 		 109.4
44 		 111.2
45 		 113.0
46 		 114.8
47 		 116.6
48 		 118.4
49 		 120.2
50 		 122.0
51 		 123.8
52 		 125.6
53 		 127.4
54 		 129.2
55 		 131.0
56 		 132.8
57 		 134.6
58 		 136.4
59 		 138.2
60 		 140.0
61 		 141.8
62 		 143.6
63 		 145.4
64 		 147.2
65 		 149.0
66 		 150.8
67 		 152.6
68 		 154.4
69 		 156.2
70 		 158.0
71 		 159.8
72 		 161.6
73 		 163.4
74 		 165.2
75 		 167.0
76 		 168.8
77 		 170.6
78 		 172.4
79 		 174.2
80 		 176.0
81 		 177.8
82 		 179.6
83 		 181.4
84 		 183.2
85 		 185.0
86 		 186.8
87 		 188.6
88 		 190.4
89 		 192.2
90 		 194.0
91 		 195.8
92 		 197.6
93 		 199.4
94 		 201.2
95 		 203.0
96 		 204.8
97 		 206.6
98 		 208.4
99 		 210.2
100 		 212.0

Exercise 66

In [30]:
average_grade = []

while True:
    grade = input()
    if grade == 'A+':
        grade = 4.0
    elif grade == 'A':
        grade = 4.0
    elif grade == 'A-':
        grade = 3.7
    elif grade == 'B+':
        grade =3.3
    elif grade == 'B':
        grade =3.0
    elif grade == 'B-':
        grade = 2.7
    elif grade == 'C+':
        grade =2.3
    elif grade == 'C':
        grade = 2.0
    elif grade == 'C-':
        grade = 1.7
    elif grade == 'D+':
        grade = 1.3
    elif grade == 'D':
        grade = 1.0
    elif grade =='F':
        grade = 0
    elif grade == '':
        break
    average_grade.append(grade)
    
np.average(average_grade)

A
A+
B
B
B
B
B
C
C
C
F

2.6363636363636362

Excercise 67

In [4]:
import numpy as np
charge = []
sum=0

while True:
    age = input()
    if age == '': # 공백일때는 문자열이니까 int처리 이전에 실행해주어야함
        break
    age = int(age)
    if age <= 2:
        sum = 0.00
    elif age <= 12:
        sum = 14.00
    elif age > 65:
        sum = 18.00
    else:
        sum = 23.00
    charge.append(sum)
np.sum(charge)

2
4
4
55
5555

69.0

Excercise 72

In [1]:
some_list = []


while True:
    string = input()
    if string == '':
        break
    elif string in string[::-1]:
        some_list.append(string)
some_list

anna

['anna']

In [2]:
some_list = []


while True:
    string = input()
    if string in string[::-1]:
        some_list.append(string) 
    elif string == '': #  elif의 경우에는 앞의 if가 참이 아니면 실행되는 것이기 떄문에 무한 루프가 도는 것이다.
        break        # elif -> if

some_list

koko

['']